<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
<!--     <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<!--          <link rel="stylesheet" type="text/css" href="https://www.tonylykke.com/css/asciinema-glyphs.css"> -->
<!-- 		<link rel="stylesheet" href="https://www.tonylykke.com/css/font-awesome.min.css"> -->
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/asciinema-player.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
	
  </head>
  <body>

    {%for i in post%}

  <li><a href="/{{ i["key"] }}">{{ i['key'] }}</a></li>

<!--     <li>{{ i["key"] }}</li>     -->




    {%endfor%}

    <script src="{{ url_for('static', filename='js/asciinema-player.js') }}"></script>
  </body>
</html>
